.h-max.grid.grid-cols-2.align-center
  - @verse.book_answers.each do |book_answer|
    = button_to book_guess_path(verse_id: @verse.id, book_answer_id: book_answer.id) do
      .p-2.mx-6.my-8.bg-red-200.rounded.text-center
        =book_answer.label
