.h-full.max-h-screen.bg-white.flex.flex-col
  .active-game-session-name.flex.items-center.px-4.bg-white.border-b.border-b-gray-100{class: "h-[10%] max-h-[10%]"}
    .flex-grow.pl-1.pr-5.w-24.text-left.text-text-300
      Active Session
      = @game_session.name
    .m-auto.px-1.w-24.text-center.bg-red-200.rounded.text-red-100
      = button_to user_game_session_path(@game_session), method: :delete do
        Leave
  .score-board{class: "h-[5%] max-h-[5%]"}
    = render GameSessionScoreboardComponent.new(@game_session.score_board)
  .active-game-round.flex.flex-grow{class: "h-[85%] max-h-[85%]"}
    = render GameRoundComponent.new(game_round: @game_session.current_round)
    -# - if @game_session.users.any?
    -#   Here are a bunch of players
    -#   #game-session-lobby-users-list.flex.flex-wrap.gap-x-2.gap-y-2.items-center.h-full
    -#     - @game_session.users.each do |user|
    -#       = render PlayerBadgeComponent.new(user: user)
  -# TODO: Style chat
  -# .active-go{class: "h-[30%] bg-[#1d3557]"}
  -#   Chat here