%div.h-full.w-full{:id => dom_id(@game_round)}
  - if @game_round.queued?
    GET READY
  - elsif @game_round.active?
    .h-full.w-full.flex.flex-col.bg-white.pt-2
      .flex.items-center.justify-center.w-full.mt-2.text-text-400{class: "max-h-[5%]"}
        = @game_round.num_verses_remaining
        Verses Remaining
      = render VerseQuestionComponent.new(verse: @game_round.current_verse)
  - elsif @game_round.completed?
    ROUND OVER
