%div{id: dom_id(@score_board)}
  %h3 Scores:
  -# SB:
  -# = @score_board.id
  -# GS:
  -# = @score_board.id
  - names_and_scores.each do |player|
    %div.score_board-row
      %span.score_board-name
        = player['name']
      %span.score_board-points
        = player['points']
