.h-screen.bg-slate-200
  .lobby-game-session-name{class: "h-[10%] bg-[#f1faee]"}
    Session Name:
    = @game_session.name
  .lobby-player-list.overflow-auto{class: "h-[40%] bg-[#a8dadc]"}
    - if @game_session.users.any?
      Here are a bunch of players
      #game-session-lobby-users-list.flex.flex-wrap.gap-x-2.gap-y-2.items-center.h-full
        - @game_session.users.each do |user|
          = render PlayerBadgeComponent.new(user: user)

  .lobby-chat{class: "h-[40%] bg-[#a8dadc]"}
    Chat here
  .lets-go{class: "h-[10%] bg-[#1d3557]"}
    nope

-# e63946 red
-# f1faee light
-# a8dadc to
-# 457b9d dark 
-# 1d3557
