%div.h-full.flex.items-center.border-b.border-b-gray-100{id: dom_id(@score_board)}
  .flex.flex-wrap.items-start
    - @score_board.all_names_and_scores_strings.each do |player_score|
      .whitespace-nowrap.px-2.py-1.rounded-full
        = render(LabelBadgeComponent.new(player_score))
