= tag.div id: dom_id(@verse_word) do
  .my-2.mx-1.text-base.w-full
    - if @visible || params[:visible]
      .visible
        = @word_text
    - else
      .border-b-2.border-b-text-400
        .invisible
          = @word_text
