-# = turbo_stream_from "guessref"

-# - @game_sessions.each do |game_session|
-#   %p
-#     =game_session.id
-#     =link_to game_session.name, game_session_path(game_session)
-#     =game_session.status
.text-right.text-gray-500.font-medium.mb-5
  #new-game-link
    =link_to "New Game", new_game_session_path
%div
  %h2.text-gray-500.font-medium.uppercase.tracking-wide.text-center Active Games
  %ul#game_sessions.mt-3.grid.grid-cols-1.gap-3.sm:gap-6.sm:grid-cols-2.lg:grid-cols-4{:role => "list"}
    - @game_sessions.each do |game_session|
      = render GameSessionBadgeComponent.new(game_session: game_session)
