#game-session-staging
  %p
  = @game_session.name
  %p
    Game Rounds
    = @game_session.game_rounds.size
  %p
    Players
    = @game_session.users.size

  =button_to "Join", user_game_sessions_path(game_session_id: @game_session), 
    class: "button inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"

