.m-5.text-center
  %p.text-lg.mb-5
    %span.font-bold
      Guessref 
    is a multiplayer Bible verse guessing game.
  %p.text-lg.mb-5
    Verses slowly appear word by word, and you score points by guessing the entire reference. The more of the verse that you guess (or know!) the more points you get. 
  %p.text-lg.mb-5
    You can certainly play alone, but it is more fun with friends.
  %p.text-sm.mb-5
    = Copyright.text

  %p.text-lg.mb-5
    %p.text-lg.text-center.font-bold
      Code
    - @coders.each do |coder|
      %p.text-blue1.text-center
        =link_to coder, "https://github.com/#{coder}"


  %p.text-lg.mb-5
    %p.text-lg.text-center.font-bold
      Design
    %p.text-blue1.text-center
      =link_to 'mehanyw', 'https://github.com/mehanyw'
