%h1 Capybara Screenshots
%p This page will autoshow any pngs that show up in tmp/capybara in this project
%p.mb-16 useful for working on feature specs

- @screenshots.each do |screenshot_filename|
  %p= screenshot_filename

  -# https://stackoverflow.com/questions/4294427/rails-displaying-an-image-from-a-blob-field-in-a-database
  - screenshot_data = File.read(screenshot_filename)
  = ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(screenshot_data)).html_safe

